@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #01282e;
  gap: 30px;
  padding: 0 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 110px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  background: #f88f06;
}

nav .menu-btn i {
  color: #f2f2f2;
  cursor: pointer;
  display: none;
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #003840;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  nav ul.open {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 50px 0;
  }

  nav ul li a {
    font-size: 23px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #f88f06;
  }
}

/* Barra de Rolagem */
::-webkit-scrollbar {
  width: 10px;
}

/* Interior da barra */
::-webkit-scrollbar-track {
  background-color: #003840;
}

/* A barra */
::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border-radius: 15px;
  border: 1px solid #003840;
}
